:root {
  --main-pink: #febfd7;
  --sub-pink: #feb8d3;
  --main-blue: #2196f3;
  --sub-blue: #a1c7ff;
  --white: #fff;
}

* {
  font-family: 'Inconsolata', monospace;
  font-family: 'Lilita One', cursive;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fddde9;
  height: 100vh;
}

header {
  height: 15%;
}

.headerWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  color: #febfd7;
  text-shadow: 1px 1px 0px #170a06;
  padding-top: 2.5rem;
  position: relative;
}

header h1::before {
  content: '';
  position: absolute;
  right: -11%;
  bottom: 0;
  height: 1px;
  width: 15rem;
  border-bottom: 4px solid var(--main-pink);
  box-shadow: 1.2px 1.5px 0px #170a06;
}

.inputSection {
  position: fixed;
  bottom: 0;
  padding: 1.5rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainInput {
  width: 269px;
  height: 2.4rem;
  border: 3.2px solid var(--main-pink);
  background-color: var(--white);
}

#mainInput::placeholder {
  font-size: 19px;
  padding-left: 6px;
  color: var(--main-pink);
}

#mainInput:focus::placeholder {
  color: transparent;
}

.addBtn {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
  margin-left: 10px;
  border: 3px var(--main-blue) solid;
  color: var(--main-blue);
  background-color: var(--sub-blue);
  font-size: 1.4rem;
  text-shadow: 1.7px 2.3px 0px #170a06;
}

.listSection {
  height: 73vh;
  width: 100%;
  overflow: auto;
  /* background-color: red; */
  display: flex;
  flex-direction: column-reverse;
}

/* to do list container */
.listWrap {
  background-color: var(--main-pink);
  width: 80%;
  margin: 5px auto;
  justify-content: space-between;
  border-radius: 11px;
  display: flex;
  flex-direction: row;
}

/* to do list content div */

.contentWrap {
  padding: 12px;
  display: flex;
  align-items: center;
}

.labelWrap {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.listDate,
.listLabel {
  font-family: 'Inconsolata', monospace;
}

.imageWrap {
  display: flex;
  flex-direction: column;
  width: 4rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.circleIcon,
.closeIcon {
  width: 25px;
  height: fit-content;
}
